.header {
    text-align: center;
    background-color: #3E606D;
    color: white;
    padding: 40px;
    font-size: 15px;
    height: 10%;
}

body {
    font-family: 'Courier New', Courier, monospace;
<<<<<<< HEAD
    background-color: #2f4d63;
    margin: 0 0 0 0;
=======
    color: white;
>>>>>>> 637932498757c469e522aa617dd7d281d12c654a
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
<<<<<<< HEAD
    background-color: #f1f1f1;
    text-align: center;
=======
    background-color: #bde0eb;
>>>>>>> 637932498757c469e522aa617dd7d281d12c654a
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin: 0 2% 0 2%;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
<<<<<<< HEAD
    border-bottom: 1px solid black;
    text-align: center;
}

#Upload
{
  display: flex;
  flex-direction: column;
  height: 50%;
  align-content: center;
  justify-content: center;
}

#Upload form
{
  align-self: center;
  text-align: center;
=======
    border: 1px solid #ccc;
    border-top: none;
>>>>>>> 637932498757c469e522aa617dd7d281d12c654a
}
